.Navbar {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-black {
  background-color: #111;
  height: 30px;
}

.nav-logo {
  object-fit: contain;
  width: 90px;
  position: fixed;
  padding-left: 20px;
}

.buttonList {
  postion: relative;
  padding-left: 150px;
  align-items: center;
}

.buttonList a {
  color: #e5e5e5;
  padding: 0 0.5rem 0 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-avatar {
  width: 30px;
  object-fit: contain;
  position: fixed;
  right: 20px;
  padding-right: 20px;
}
