.row {
  margin-left: 20px;
}

.row_title {
  padding-left: 20px;
  color: #e5e5e5;
  font-weight: normal;
  margin-bottom: 9px;
}

.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 2px 20px 30px 20px;
}

.posters::-webkit-scrollbar {
  display: none;
}

.poster {
  margin-right: 6px;
  object-fit: contain;
  max-height: 150px;
  max-width: 18vw;
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 5px;
}

.largeposter {
  max-height: 300px;
}

.movie-desc {
  position: relative;
  transition: transform 450ms;
}

.movie-name {
  cursor: pointer;
}

.movie-name-layer {
  font-size: 16px;
  color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity, visibility 0.45s ease-in-out, transform 0.4s ease-in-out;
}

.movie-desc:hover .movie-name-layer {
  z-index: 0;
  transform: scale(1.2);
  visibility: visible;
  opacity: 1;
}

.movie-desc:hover .poster {
  z-index: -1;
  transform: scale(1.2);
  overflow: visible;
  border-radius: 5px;
}

.movie-desc:hover .largeposter {
  transform: scale(1.2);
  z-index: 2;
  margin-right: 30px;
}

@media only screen and (max-width: 650px) {
  .movie-name-layer {
    font-size: 8px;
  }
  .row_title {
    font-size: 12px;
  }
  .row {
    margin: 0;
  }
}
